@import 'artboard';

// Grid
$grid-block-size: 10px;
$grid-divider-num-blocks: 10;
$divider-size: $grid-block-size * $grid-divider-num-blocks;
$grid-color: rgba(0, 0, 0, .25);
$grid-divider-color: rgba(0, 0, 0, .5);

// Assets
$monitor-padding: $grid-block-size * 3;
$monitor-background-color: #000;
$monitor-origin-x: $divider-size - $monitor-padding;
$monitor-origin-y: $divider-size - $monitor-padding;
$screen-background-color: #fff;
$screen-aspect-ratio-y: 3;
$screen-aspect-ratio-x: 4;
$screen-width: $divider-size * 4;
$screen-height: $screen-width * ($screen-aspect-ratio-y / $screen-aspect-ratio-x);
$monitor-height: $screen-height + $monitor-padding * 2;
$monitor-width: $screen-width + $monitor-padding * 2;

header,
footer {
  margin: 20px;
}

body {
  @include artboard-grid($grid-block-size, $grid-color, $grid-divider-num-blocks, $grid-divider-color);
  margin: 0;
}

.monitor-frame-1 {
  left: $monitor-origin-x;
  top: $monitor-origin-y;
}

.screen {
  background-color: $screen-background-color;
  height: $screen-height;
  position: absolute;
  right: $monitor-padding;
  top: $monitor-padding;
  width: $screen-width;
}

.monitor {
  background-color: $monitor-background-color;
  height: $monitor-height;
  position: absolute;
  width: $monitor-width;
}
