$grid-color: #ccc;
$grid-size: 70px;

@mixin grid($size, $color) {
  $end: $size + 1;
  background-image: repeating-linear-gradient(0deg, transparent, transparent $size, $size, $color $end), repeating-linear-gradient(-90deg, transparent, transparent $size, $color $size, $color $end);
  background-size: $end $end;
}

body {
  @include grid($grid-size, $grid-color);
}
